
    <div style="display: inline-block;margin: 30px;" >
        <div class="col-4">
            <h1 style="color:#00FFFF;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;" > Welcome to Barsha Technology        </h1>
            <p class="text-center"   class="font-weight-bold" color="#778899">
                Barsha Technology is a technology services and audio visuel production company, created on september 2017, these basic services offered are mobile application development, website creation, graphic design and desktop applications, our goal is to have our imprint in the world of technology.
            </p>
        </div>
    </div>
    